@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Inter', sans-serif;
  --primary-brand-color: #7E57C2;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

li,
button {
  transition: 0.2s ease all;
}

input {
  outline: none;
  font-family: var(--font-family);
}
