@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Inter", sans-serif;

  --primary-brand-color: #7e57c2;
  --primary-brand-color-extra-light: rgba(126, 87, 194, 0.2);
  --primary-brand-color-light: rgba(126, 87, 194, 0.3);
  --primary-brand-color-medium: rgba(126, 87, 194, 0.7);

  --text-color: #040404;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

li,
button {
  transition: 0.2s ease all;
}

input,
textarea {
  outline: none;
  font-family: var(--font-family);
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--primary-brand-color);
}

textarea {
  resize: none;
}

.day-list-game {
  background-image: linear-gradient(12deg,#fff 50%,hsla(0,0%,100%,0));
  background-color: white;
  transition: background-color .3s ease-in;
}

.day-list-game:hover {
  background-color: var(--primary-brand-color-light);
}